{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-left">
{{ with .Content }}
  <h1>{{ $.Page.Title }}</h1>
  {{ . }}
{{ else }}
  <h2>{{ .Site.Title }}</h2>
    <br>

  <p class="font-125" align="left">{{ .Site.Params.homeText | markdownify }}</p>
  <p class="font-125" align="left">{{ .Site.Params.homeText2 | markdownify }}</p>
  <p class="font-125" align="left">{{ .Site.Params.homeText3 | markdownify }}</p>
{{ end }}
</div>

{{ end }}